/***** THUMBNAILS *****/
.draw1 {
    background:  url("../imgs/art/19-5/3.jpg") center no-repeat;
    background-size: cover;
}
.draw2 {
    background:  url("../imgs/art/20-1/0.png") center no-repeat;
    background-size: cover;
}
.draw3 {
    background:  url("../imgs/art/20-3.png") center no-repeat;
    background-size: cover;
}
.draw4 {
    background:  url("../imgs/art/20-4\ 1a.jpg") center no-repeat;
    background-size: cover;
}
.draw5 {
    background:  url("../imgs/art/20-6\ 1.png") center no-repeat;
    background-size: cover;
}
.draw6 {
    background:  url("../imgs/art/20-6\ 2.png") center no-repeat;
    background-size: cover;
}
.draw7 {
    background:  url("../imgs/art/20-10/day\ 1.jpg") center no-repeat;
    background-size: cover;
}
.draw8 {
    background:  url("../imgs/art/20-12/1\ overview.jpg") center no-repeat;
    background-size: cover;
}
.draw9 {
    background:  url("../imgs/art/21-2/5.JPG") center no-repeat;
    background-size: cover;
}
.draw10 {
    background:  url("../imgs/art/21-5/still\ 2.jpg") center no-repeat;
    background-size: cover;
}
.draw11 {
    background:  url("../imgs/art/21-6.png") center no-repeat;
    background-size: cover;
}
.draw12 {
    background:  url("../imgs/art/21-7\ 1.png") center no-repeat;
    background-size: cover;
}
.draw13 {
    background:  url("../imgs/art/21-7\ 2.png") center no-repeat;
    background-size: cover;
}
.draw14 {
    background:  url("../imgs/art/21-7\ 3.png") center no-repeat;
    background-size: cover;
}
.draw15 {
    background:  url("../imgs/art/21-7\ 4/1.jpg") center no-repeat;
    background-size: cover;
}
.draw16 {
    background:  url("../imgs/art/21-8.png") center no-repeat;
    background-size: cover;
}
.draw17 {
    background:  url("../imgs/art/22-4/3.png") center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 999px) {
    
}