.word1 {
    background:  url("../imgs/write/21-2.PNG") center no-repeat;
    background-size: cover;
}
.word2 {
    background:  url("../imgs/write/21-4.png") center no-repeat;
    background-size: cover;
}
.word3 {
    background:  url("../imgs/write/angel.png") center no-repeat;
    background-size: cover;
}