*/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 1rem;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}

.header-content {
	margin: 2rem 0;
	text-align: center;
}

.main-content {
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem;
}

section {
	margin: 4rem 0;
}

section h2 {
	margin-bottom: 2rem;
}

section h3 {
	margin-bottom: 1rem;
}

  
  /* css for art page */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .gallery li {
    flex: 1 0 20%;
    margin: 10px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .gallery p {
    text-align: center;
    margin-top: 10px;
  }
    
  .cafe {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: url(img/cafe-background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
   
  }  